*{
  font-family: 'Nunito Sans', sans-serif;
  scroll-behavior: smooth;
}
/* .entire-body {
  max-width: 1440px;
} */
.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.fixed-top {
  position: sticky !important;
}
.intro-heading {
  /* text-transform: uppercase; */
  font-family: 'Kalam', sans-serif;
  font-weight: 800;
  font-size: 96px;
  text-shadow: 2px 2px #ff0000;
}
.social-links {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
}
.social { 
  font-size: 40px;
}
.jumbotron { 
  padding-bottom : 20px;
}
.move-down:hover {
  color: #0000FF !important;
}
.about-me {
  font-size: 20px;
}
.card-text{
  font-size: 16px;
}
.main-content .list-group > .active {
  background-color: #343a40 !important;
}
.list-group > .list-group-item { 
  border-radius: 0px !important;
}
.card {
  border-radius: 0px !important;
}
.btn {
  border-radius: 0px !important;
}
.btn-label {
  cursor: auto !important;
}
ul {
  padding : 0px !important;
}
.insta {
  color : #3F729B;
}

@media screen and (max-width : 767px) {
  .outer-card {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}